<div class="register container-fluid">
  <form class="login-container" action="/edit-profile" method="POST">

    <div id="input-container" class="bg light-brown p-3 rounded">
      <h3 class="text-center p-3"> Edit Profile </h3>
      <!-- First Name -->
      <div class="form-group row">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="firstname">First Name <span class="mandatory-color"> * </span></label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="firstname" value="{{userInSession.firstName}}">
        </div>
        <div class="col-md-3"></div>
      </div>

      <!-- Last Name -->
      <div class="form-group row ">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="lastname">Last Name <span class="mandatory-color "> * </span></label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="lastname" value="{{userInSession.lastName}}">
        </div>
        <div class="col-md-3"></div>
      </div>

      <!-- EmailID -->
      <div class="form-group row ">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="email">E-mail Address <span class="mandatory-color "> * </span></label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="email" value="{{userInSession.email}}">
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- Password  -->
      <div class="form-group row ">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="password">Password <span class="mandatory-color "> * </span></label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="password">
        </div>
        <div class="col-md-3"></div>
      </div>



      <!-- Address -->
      <div class="form-group row ">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="address">Address <span class="mandatory-color "> * </span></label>
        <div class="col-md-4">
          <textarea class="form-control" type="text-area" rows="5" name="address" value="{{userInSession.address}}">
          </textarea>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- Phone number -->
      <div class="form-group row ">
        <div class="col-md-3"></div>
        <label class="col-md-2" for="phone">Phone Number <span class="mandatory-color "> * </span></label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="phone" value="{{userInSession.phoneNumber}}">
        </div>
        <div class="col-md-3"></div>
      </div>


      <!--- button --->
      <div class="form-group row">
        <div class="col-md-5"></div>
        <button type="submit" class="btn btn-primary col-md-2 m-3">Update Profile</button>
        <div class="col-md-5"></div>
      </div>

      {{#if errorMessage}}
      <p class="alert alert-danger text-center">{{errorMessage}}</p>
      {{/if}}

      {{#if InfoMessage}}
      <p class="alert alert-success text-center">{{InfoMessage}} </p>
      {{/if}}

    </div>
  </form>
</div>