<div class="order-success text-center mt-3 p-3 light-brown">
  <h5>{{firstName}} {{lastName}},</h5>

  <h2 class="my-3"> We've received your order! <br>
    Thank you for using <br> Farm Grocer</h2>
  <h4> Your cart will be delivered to {{address}} by one of our friendly team members within 24 hours</h4> <br>
  <h4>Please contact us at <a href="mailto:info@farmgrocer.com">Farm Grocer</a> if you have any questions or concerns.
  </h4>
</div>




<hr>
<div class="m-2">
  <h2 class="text-center">ORDER SUMMARY</h2>
  <h3 class="text-center">Order Id: <p id="order-id"> {{cartId}}</p>
    <h3 class="text-center">Order Total: <p id="grand-tot"></p>
    </h3>
</div>


<table class="table container-fluid" id="checkout-cart">
  <tbody>
    {{#each products }}
    <tr class="product">
      <td id="img-container">
        <div>
          <img class="rounded " id="checkout-img" src={{productId.imageUrl}}>
        </div>
      </td>
      <td>
        <div>
          <h3> {{ productId.name}} </h3>
          <p> Qty: <span class="qty"> {{ quantity}} </span> <br>
            €/kg : €<span class="price">{{productId.price}}</span> <br>
            Total item Cost: € <span class="subtot"> </span></p>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<hr>

<h4 class="text-center"> We have sent a receipt to {{email}}, for your records</h4>

<hr>
<div class="text-center m-3">
  <a href="/">
    <button type="button" class="btn btn-primary m-2">Home</button>
  </a>
  <a href="/logout">
    <button type="button" class="btn btn-primary m-2">Log Out</button>
  </a>
</div>



<script>
  window.onload = function () {
    calCheckOutBill();
  }

  /*
  * to calculate the grand total and subtotal 
  */
  const calCheckOutBill = function () {
    let subtotal = 0;
    let grandTot = 0;
    const elements = document.querySelectorAll("#checkout-cart tbody .product")
    elements.forEach(ele => {
      let qty = ele.getElementsByClassName("qty")[0].innerText;
      let price = ele.getElementsByClassName("price")[0].innerText;
      subtotal = (qty * price);
      console.log(`SUBTOTAL ${subtotal}`);
      ele.getElementsByClassName("subtot")[0].innerText = subtotal.toFixed(2);

      grandTot += subtotal;
    });
    document.getElementById("grand-tot").innerText = "€ " + grandTot.toFixed(2);
    document.getElementById("order-id").innerText = "ID_" + (document.getElementById("order-id").innerText).slice(0, 5).toUpperCase();
  }

</script>