<div class="col-sm-12 text-center m-2 mt-3">
  {{firstName}} {{lastName}},
  <h2 class="my-3"> We've received your order! <br>
   Thank you for using Farm Grocer</h2>
  <h4> Your cart will be delivered by one of our friendly team members within 24 hours</h4>
</div>

<hr>
<div class="m-2">
  <h2 class="text-center">ORDER SUMMARY</h2>
</div>


<table class="table container-fluid" id="checkout-cart">
  <tbody>
    {{#each products }}
    <tr class="product">
      <td>
        <div> 
          <img class="rounded" src={{productId.imageUrl}}>
        </div>
      </td>
      <td>
        <div>
          <h3> {{ productId.name}} </h3>
          <p> Qty: <span class="qty"> {{ quantity}} </span> <br>
           €/kg : €<span class="price">{{productId.price}}</span> <br>
          Total item Cost: <span class="subtot"> </span></p>
        </div>
      </td>
    </tr>
    {{/each}}
    <tfoot>
  <div>
    <h3>Total Invoice:<h3 id="grand-tot"> </h3></h3>
    
  </div>
</tfoot>
  </tbody>
</table>



<script>
  window.onload = function () {
    calCheckOutBill();
  }

  /*
  * to calculate the grand total and subtotal 
  */
  const calCheckOutBill = function () {
    let subtotal = 0;
    let grandTot = 0;
    const elements = document.querySelectorAll("#checkout-cart tbody .product")
    elements.forEach(ele => {
      let qty = ele.getElementsByClassName("qty")[0].innerText;
      let price = ele.getElementsByClassName("price")[0].innerText;
      subtotal = (qty * price);
      console.log(`SUBTOTAL ${subtotal}`);
      ele.getElementsByClassName("subtot")[0].innerText = subtotal.toFixed(2);

      grandTot += subtotal;
    });
    document.getElementById("grand-tot").innerText = grandTot.toFixed(2);
  }

</script>