
<div class="m-2 height">
  <h1 class="text-center">Welcome to the Shop</h1>
  <hr>
  <div class="card-container rounded p-3">
    {{#each productsList}}
    <div class="card card-shop">
      <div class="card-body text-center">
        
        <form action="/shop/{{_id}}" method="POST">
          <h4> {{name}} </h4>
          <img class="rounded" src={{imageUrl}}>
          <div class="m-1 add-to-cart">
            <h5 class="m-1">€{{price}}</h5>
            <button class="btn-primary px-2 rounded"type="submit">+</button>
          </div>
  </form>

      </div>
    </div>
{{/each}}
  </div>
  <hr>
</div>



{{#if errorMessage}}
<p class="alert alert-danger">{{errorMessage}}</p>
{{/if}}